@(message: String)

@main("Welcome to our website") {

    <div class="container">
        <div class="jumbotron">
            <h1>Welcome</h1>
            <p>In today's world internet is the most popular way of connecting with the people.
                At <a href="/" target="_blank">localhost:9000</a> you can rent apartment. NOT!</p>
            <p></p>
            <p><a href="/apartments/" target="_blank" class="btn btn-success btn-lg">View apartments</a>
            <a href="/apartments/new" target="_blank" class="btn btn-success btn-lg">Add apartment</a></p>
        </div>
    </div>

}
