@import models.Article
@import models.Category
@import models.ArticleCategory

@(relations: List[ArticleCategory], categories: List[Category], articles: List[Article])
@main("Relations") {

  <div class="container-fluid">

    <h2 class="text-center">List of relations</h2>
    <hr>

    <table class="table-responsive table-bordered" id="sort">
      <thead>
        <th>Category</th>
        <th>Article</th>
        <th>Actions</th>
      </thead>
      <tbody>
      @for(relation <- relations) {
        <tr>
          <td>@relation.getCategory.getName</td>
          <td>@relation.getArticle.getName</td>
          <th>
            <a href="@routes.RelationController.deleteRelation(relation.getId)"><i class="glyphicon glyphicon-trash"></i> Delete</a>
          </th>
        </tr>
      }
      </tbody>


    </table>

  </div>

  <div class="container">

    <h2 class="text-center">Create new relation</h2>
    <hr>

    <form action="@routes.RelationController.saveRelation()" method="post">

      @if(categories != null && categories.size > 0) {
        <div class="form-group">
          <label for="select" class="col-lg-2 control-label">Categories</label>
          <div class="col-lg-4">
            <select class="form-group" id="select" name="category">
            @for(category <- categories) {
              <option value="@category.getId">@category.getName</option>
            }
            </select>
          </div>
        </div>
      } else {
        NO CATEGORIES
      }


      @if(articles != null && articles.size > 0) {
        <div class="form-group">
          <label>Products</label>
          <div class="col-lg-4 col-lg-offset-5">
          @for(article <- articles) {
            <div class="form-group">
              <label>@article.getName</label>
              <input type="checkbox" name="@article.getId" value="@article.getId" />

            </div>
          }
          </div>

        </div>
      } else {
        NO ARTICLES
      }


      <div class="form-group">
        <input type="submit" class="col-md-12 btn btn-lg btn-success" value="Save" >
      </div>
    </form>


  </div>
}